@media only screen and (min-width: 1000px) {
  .logo-img-cont {
    min-height: 120px !important;
    max-height: none;
    min-width: 140px !important;
    max-width: none;
    margin-top: 1rem;
    margin-left: 2.8rem;
  }
  .menu-logo {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (min-width: 750px) {
  .header {
    display: none;
  }

  .search-section {
    display: none;
  }

  /* full screen menu */
  .full-screen-menu {
    display: flex;
    border: 1px solid black;
    height: 100vh;
  }

  /* search side bar */
  .full-screen-menu .search-sidebar {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 400px;
    flex: 1;
    overflow: hidden;
    background: black;
  }

  /* logo */
  .logo-img-cont {
    min-height: 100px;
    max-height: 100px;
    min-width: 120px;
    max-width: 120px;
    margin-top: 1rem;
    margin-left: 2rem;
  }
  .menu-logo {
    width: 100%;
    height: 100%;
  }

  .search-sidebar {
    position: relative;
    overflow: scroll !important;
    /* extra height is added for better appearance */
    min-height: 100.035vh !important;
  }

  /* bookmarks revealer btn */
  #bookmarks {
    position: absolute;
    width: 2.5rem;
    height: 4rem;
    right: 10%;
    top: 2rem;
    cursor: pointer;
  }
  #bookmarks:hover {
    transform: scale(1.05);
  }

  #bookmarks .bookmark-icon-style {
    font-size: 2.5rem;
  }

  /* search bar */
  .menu-search-bar-cont {
    padding: 0 1rem;
  }

  .full-screen-menu .search-bar-cont {
    height: auto;
    width: 100%;
  }
  .full-screen-menu .search-input {
    border-radius: 0;
    background: transparent;
    height: 40px;
    border-bottom: 1px solid white;
    color: white;
  }
  .full-screen-menu button {
    border-radius: 0;
    background: transparent;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 1px solid white;
  }

  /* search results container */



  .full-screen-menu .search-results-cont-full {
    margin-top: 1rem;
    width: 100%;
    min-height: 400px;
    height: auto;
  }

  .full-screen-menu .search-result:hover,
  .full-screen-menu .search-result-active {
    transform: translateY(0);
  }

  /* pagination arrows */
  .full-screen-menu .pagination-full {

    align-self: flex-end;
    justify-self: flex-end !important;

    display: block;
    width: 100%;
    margin-top: auto;
  }
  .pagination-full button {
    border-color: transparent !important;
    cursor: pointer;
  }

  .arrow {
    color: white;
    border: 1px solid white !important;
    height: 30px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    column-gap: 5px;
    font-family: var(--body-font);
    font-weight: 600;
    font-size: 0.8rem;
    transition: var(--transition);
  }

  /* left arrow */
  .pagination-full .left-arr p {
    font-size: 0.86rem;
  }
  .pagination-full .left-arr svg {
    font-size: 1.3rem;
  }

  /* right arrow */
  .pagination-full .right-arr p {
    font-size: 1rem;
  }
  .pagination-full .right-arr svg {
    font-size: 2.5rem;
  }
  .pagination-full .arrow:hover {
    transform: scale(1.05);
    transition: transform 0.3s linear;
    background: transparent;
  }
  .left-arr {
    margin-right: auto;
  }
  .right-arr {
    margin-left: auto;
  }

  /* image display */
  .full-screen-menu .image-display {
    min-height: 100.3%;
    flex: 2;
    overflow: hidden;
  }

  .image-display {
    position: relative;
    min-height: 100%;
    flex: 2;
    overflow: hidden;
    background: url(../img/hero-2.jpg) center/cover;
    z-index: 1;
  }

  .image-display::after {
    position: absolute;
    display: block;
    content: "";
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    z-index: -1;
  }

  .full-screen-menu .search-result-img-cont {
    height: 100%;
  }

  .full-screen-menu .search-result-img {
    height: 100%;
  }

  .full-screen-menu .img-info-cont {
    text-align: center;
    width: 100%;
    padding-top: 1rem;
  }
  #center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: flex-start;
  }

  /* BUTTONS */

  /* bookmarks container */

  /* bookmark button */
  .image-display .bookmark-btn {
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
    border-radius: 20%;
    border: 1px solid white;
    background: transparent;
    max-height: 2rem;
    min-width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    transition: var(--transition);
  }

  /* reveal info button */
  .image-display .reveal-info-btn {
    cursor: pointer;
    position: absolute;
    bottom: 2%;
    left: 2%;
    border-radius: 10px;
    border: 1px solid white;
    background: transparent;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.2;
    transition: var(--transition);
    z-index: 1;
    max-height: 2rem;
    min-width: 2rem;
  }

  #full-screen-btn {
    width: auto;
    color: white;
    gap: 10px;
    padding: 0 8px;
    height: 40px;
    border-radius: 10px;
  }

  #full-screen-btn p {
    display: none;
  }

  .reveal-info-btn:hover {
    opacity: 1;
  }

  .info-icon-style {
    color: white;
    font-size: 1.3rem;
  }
}

/* information button and bookmark button style */
@media only screen and (min-width: 935px) {
  #full-screen-btn p {
    display: revert;
  }
}
